<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!-- <servlet>
       <servlet-name>primeiraServlet</servlet-name>
       <servlet-class>br.com.doichejunior.servlet.PrimeiraServlet</servlet-class>

   </servlet>
    Utilizando URL PATTNERS até versão 2.9
   <servlet-mapping>
       <servlet-name>primeiraServlet</servlet-name>
       <url-pattern>/primeiraServlet</url-pattern>
       <url-pattern>*.asp</url-pattern>
   </servlet-mapping>
   -->
   
   <servlet>
   	<servlet-name>usuarioServlet</servlet-name>
   	<servlet-class>br.com.doichejunior.servlet.UsuarioServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
   	<servletName>usuarioServlet</servletName>
   	<url-pattern>/usuario</url-pattern>
   
   </servlet-mapping>
</web-app>